{#
  Introducing the MySQL 8 Document Store
  
  This template defines the template used for listing the books stored
  in the MyLibrary application using the base template.
  
  Dr. Charles Bell, 2017
#}
{% extends "base.html" %}
{% block title %}MyLibrary Query Results{% endblock %}
{% block page_content %}
  <form method=post> {{ form.csrf_token }}
    <fieldset>
      {{ form.submit }} <br><br>
    </fieldset>
  </form>
  <legend>Query Results</legend>
  <table border="1" cellpadding="1" cellspacing="1">
    <tr>
      <td style="width:80px"><b>Action</b></td>
      {% for col in columns %}
        {{ col|safe }}
      {% endfor %}
    </tr>
    {% for row in rows %}
      <tr>
        <td><a href="{{ '/%s/%s'%(kind,row[0]) }}">Modify</a></td>
        {% for col in row[1:] %}
          <td> {{ col }} </td>
        {% endfor %}      
      </tr>
    {% endfor %}
  </table>
{% endblock %}